@model QLVB.DTO.Hethong.MoveNhomquyenUserViewModel
@{
	MultiSelectList userSource = new MultiSelectList(Model.userSource, "intid", "strhoten");
	MultiSelectList userDest = new MultiSelectList(Model.userDest, "intid", "strhoten");
}
<div class="box">
	<header>
		<nav style="padding: 3px;">
			<button id="SubmitMoveUserbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			<button id="BackMoveUserbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
		</nav>
	</header>
</div>
<div class="row" style="margin-right:-8px; ">
	<div class="col-sm-4">		
		<div class="form-group">
			@Html.ListBoxFor(m => m.userDest, userDest, new { id = "box1View", @class = "form-control form-control-window", size = "12" })
		</div>

	</div><!--/.col-sm-4 -->
	<div class="col-sm-2">
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
		<div class="text-center">
			<div class="btn-group-vertical">
				<button id="to2" type="button" class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-right"></i>
				</button>
				
				<button id="to1" type="button" class="btn btn-danger">
                    <i class=" glyphicon glyphicon-arrow-left"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4">		
		<div class="form-group">
			@Html.ListBoxFor(m => m.userSource, userSource, new { id = "box2View", @class = "form-control form-control-window", size = "12" })
		</div><!-- /.form-group -->
	</div>
</div>
<script type="text/javascript">
	$('#BackMoveUserbtn').click(function () {
		CloseMoveUser();
	})
	$('#to2').click(function () {
		listbox_moveacrossLeftToRight('box1View', 'box2View');
	})
	$('#to1').click(function () {
		listbox_moveaRightToLeft('box2View', 'box1View');
	})

	var listiduser = '';
	function listbox_moveacrossLeftToRight(sourceID, destID) {
		var src = document.getElementById(sourceID);
		var dest = document.getElementById(destID);

		for (var count = 0; count < src.options.length; count++) {

			if (src.options[count].selected == true) {
				listiduser = listiduser + $(src).val() + ';';
				//console.log(listiduser);

				var option = src.options[count];

				var newOption = document.createElement("option");
				newOption.value = option.value;
				newOption.text = option.text;
				//newOption.selected = true;
				try {
					dest.add(newOption, null); //Standard
					src.remove(count, null);
				} catch (error) {
					dest.add(newOption); // IE only
					src.remove(count);
				}
				count--;
			}

		}
		if (src.options.length > 0) {
			//src.options[0].selected = true;
		}

	}
	function listbox_moveaRightToLeft(sourceID, destID) {
		var src = document.getElementById(sourceID);
		var dest = document.getElementById(destID);

		for (var count = 0; count < src.options.length; count++) {

			if (src.options[count].selected == true) {
				var option = src.options[count];

				var newOption = document.createElement("option");
				newOption.value = option.value;
				newOption.text = option.text;
				//newOption.selected = true;
				try {
					dest.add(newOption, null); //Standard
					src.remove(count, null);
				} catch (error) {
					dest.add(newOption); // IE only
					src.remove(count);
				}
				count--;
			}

		}
		if (src.options.length > 0) {
			//src.options[0].selected = true;
		}

	}
	
	$('#SubmitMoveUserbtn').click(function () {
		var listiduser = GetIdUser();
		$.ajax(
			{
				type: "POST",
				url: '@Url.Action("SaveNhomquyenUser", "Hethong")',
				dataType: "json",
				data: { strlistiduser: listiduser, idgroup: @Model.idnhomquyen },
				success: function (data) {
					if (data == 1) {						
						CloseMoveUser();
					}
					else {
					    SetThongbao("Lỗi không ghi nhận được.");
					}
				}
			});
	})
	function GetIdUser() {
		var listid = "";
		$('#box2View>option').each(function () {
			listid = listid + $(this).val() + ';';
		});
		return listid;
	}
</script>