<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="Errorlog" xsi:type="Database"
                  dbProvider="sqlserver" connectionStringName="Log_sqlserver">


      <commandText>
        insert into NLog_Error ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[username],[client],[allxml]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace,@username,@client,@allxml);

      </commandText>

      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@allxml" layout="${web_variables}" />
      <parameter name="@username" layout="${username}" />
      <parameter name="@client" layout="${client}" />



    </target>
    <target name="Userlog" xsi:type="Database"
            dbProvider="sqlserver" connectionStringName="Log_sqlserver">


      <commandText>
        insert into Nhatky ([time_stamp],[level],[host],[type],[message],[stacktrace],[username],[client]) values(@time_stamp,@level,@host,@type,@message,@stacktrace,@username,@client);

      </commandText>

      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <!--<parameter name="@userid" layout="${event-context:item=UserId}" />-->
      <parameter name="@username" layout="${username}" />
      <parameter name="@client" layout="${client}" />

    </target>
    
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Warn" writeTo="Userlog" />
    <logger name="*" level="Info" writeTo="Userlog" />
    <logger name="*" level="Error" writeTo="Errorlog" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>