@model QLVB.DTO.Quytrinh.ListLoaiQuytrinhViewModel

@using QLVB.DTO
<div class="box ">
    <header>
        <nav class="box-toolbar">
            <button id="AddLoaiQTbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title="Thêm mới loại quy trình"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
            <button id="EditLoaiQTbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
            @*<button id="DeleteLoaiQTbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>*@
            <button id="AddQuytrinhbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title="Thêm mới quy trình"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm QT</button>
            <button id="EditQuytrinhbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title="Thêm mới quy trình"><i class="glyphicon glyphicon-plus"></i>&nbsp;Sửa QT</button>
        </nav>
    </header>
</div>

@(Html.Kendo().PanelBar()
        .Name("panelbar")
        .ExpandMode(PanelBarExpandMode.Multiple)        
        .Items(panelbar =>
        {           
            foreach (var q in Model.LoaiQuytrinh)
            {
                panelbar.Add().Text(q.strtenloaiquytrinh).HtmlAttributes(new { id = "loai_" + q.intid })
                    .Expanded(true)
                    .Items(cat =>
                    {
                        foreach (var p in Model.Quytrinh)
                        {
                            if (p.idloai == q.intid)
                            {
                                cat.Add().Text(p.strtenquytrinh).HtmlAttributes(new { id = p.intid });    
                            }                            
                        }
                    });
            }
        })
        .Events(events => events.Select("select"))
)
<script type="text/javascript">
    function select(e) {
        var id = e.item.id;
        var loai = "loai_";
        if (id.indexOf(loai) > -1) {
            var idloai = id.substring(loai.length);
            SetIdLoaiQT(idloai);
        } else {
            SetIdQuytrinh(id);
            //var url = '@Url.Action("_Chitietquytrinh", "Quytrinh", (new { id = "__id__" }))'.replace('__id__', id);
            //$('#detail-quytrinh').load(url);
            //var url = '@Url.Action("Index", "Quytrinh", (new { id = "__id__" }))'.replace('__id__', id);
            //window.location = url;
        }
    }

</script>