
@{
    ViewBag.Title = "Phienban";
    int idquytrinh = ViewBag.id;
}

@section header{
    <i class="glyphicon glyphicon-retweet">&nbsp;</i>@ViewBag.strtenquytrinh
}
<div class="box ">
    <header>
        <nav class="box-toolbar">
            <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
        </nav>
    </header>
</div>
<div class="row">
    <div class="col-sm-3" id="category-ngay">
        @Html.Action("CategoryVersion", new { id= idquytrinh })
    </div>
    <div class="col-sm-9" id="detail-quytrinh">
        @Html.Action("ChitietVersion", new { id = 0 })
    </div>
   
</div>
<script type="text/javascript">
    $('#Backbtn').click(function () {
        var url = '@Url.Action("Index", "Quytrinh", new { id =idquytrinh })';
        window.location = url;
    });
</script>
