/.vs
/packages
/DLTD.Persistence
/DLTD
/DLTD.Api
/DLTD.DependencyInjection
/DLTD.Domain
/DLTD.Web.Main/obj
/DLTD.Web.Main/bin
/QLVB.Common/obj
/QLVB.Common/bin
/QLVB.Core/obj
/QLVB.Core/bin
/QLVB.DAL/obj
/QLVB.DAL/bin
/QLVB.Domain/bin
/QLVB.Domain/obj
/QLVB.Donvi/obj
/QLVB.Donvi/bin
/QLVB.DTO/obj
/QLVB.DTO/bin
/QLVB.WebUI/obj
/QLVB.WebUI/bin
/Store.Core/obj
/Store.Core/bin
/Store.DAL/obj
/Store.DAL/bin
/YKCD.Core/obj
/YKCD.Core/bin
/QLVB5.sln.DotSettings.user
/QLVB5.v12.suo
/DLTD.Web.Main/Log
/DLTD.Web.Main/Uploads
/QLVBConvert/.vs
/QLVBConvert/packages/NLog.2.1.0
/QLVBConvert/packages/NLog.Config.2.1.0
/QLVBConvert/packages/NLog.Schema.2.1.0
/QLVBConvert/packages/EntityFramework.6.1.0
/QLVBConvert/Convert/bin
/QLVBConvert/Convert/obj
/QLVBConvert/packages/repositories.config
/QLVB.WebUI/Noidung/
/2.3.4.4/packages
/2.3.4.4/.vs
/2.3.4.4/QLVB.Common/obj
/2.3.4.4/QLVB.Common/bin
/2.3.4.4/QLVB.Core/obj
/2.3.4.4/QLVB.Core/bin
/2.3.4.4/QLVB.DAL/obj
/2.3.4.4/QLVB.DAL/bin
/2.3.4.4/QLVB.Domain/obj
/2.3.4.4/QLVB.Domain/bin
/2.3.4.4/QLVB.Donvi/obj
/2.3.4.4/QLVB.Donvi/bin
/2.3.4.4/QLVB.DTO/obj
/2.3.4.4/QLVB.DTO/bin
/2.3.4.4/QLVB.WebUI/obj
/2.3.4.4/QLVB.WebUI/bin
/2.3.4.4/Store.Core/obj
/2.3.4.4/Store.Core/bin
/2.3.4.4/Store.DAL/obj
/2.3.4.4/Store.DAL/bin
/2.3.4.4/YKCD.Core/obj
/2.3.4.4/YKCD.Core/bin
