/.vs
/packages
/DLTD.Persistence
/DLTD
/DLTD.Api
/DLTD.DependencyInjection
/DLTD.Domain
/DLTD.Web.Main/obj
/DLTD.Web.Main/bin
/QLVB.Common/obj
/QLVB.Common/bin
/QLVB.Core/obj
/QLVB.Core/bin
/QLVB.DAL/obj
/QLVB.DAL/bin
/QLVB.Domain/bin
/QLVB.Domain/obj
/QLVB.Donvi/obj
/QLVB.Donvi/bin
/QLVB.DTO/obj
/QLVB.DTO/bin
/QLVB.WebUI/obj
/QLVB.WebUI/bin
/Store.Core/obj
/Store.Core/bin
/Store.DAL/obj
/Store.DAL/bin
/YKCD.Core/obj
/YKCD.Core/bin
/QLVB5.sln.DotSettings.user
/QLVB5.v12.suo
