@{
    SelectList ListKhoiph = new SelectList(Model, "intid", "strtenkhoi");
}
<div class="box">
    <header>
        <nav style="padding: 3px;">
            <button id="ChonKhoiphbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <button id="BackKhoiphtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>            
        </nav>
    </header>
</div>
<form class="form-horizontal" id="formEditUser">

    <table class="table table-condensed table-bordered responsive-table">
        <tbody>
            <tr>
                <td class="table-label">@Html.Label("Chọn cấp cơ quan", new { @class = "font-label" })</td>
                <td>@Html.DropDownList("idkhoiph", ListKhoiph, new { @class = "form-control form-control-window2", placeholder = "Cấp cơ quan" })</td>
            </tr>
            </tbody>
        </table>
</form>
<script type="text/javascript">
    $('#ChonKhoiphbtn').click(function () {
        var _listemail = $('#listemail').val();
        var _idkhoi = $('#idkhoiph').val();
        //console.log(listemail + "-" + idkhoi);
        $.ajax({
            type: "POST",
            url: '@Url.Action("_AddNewDonvi", "Capcoquan")',
            dataType: "json",
            data: { listemail: _listemail , idkhoiph : _idkhoi },
            success: function (data) {
                if (data == 1) {
                    var url = '@Url.Action("CapnhatDanhmucDonvi", "Capcoquan")';
                    window.location = url;
                }
                else {
                   
                }
            },
        });
    });
    $('#BackKhoiphtn').click(function () {
        CloseEditKhoiph();
    })
</script>