@(Html.Kendo().Window()
	.Name("ViewDetailVBDTDen")
	.Draggable()
	.AutoFocus(true)
	.Title("Thông tin văn bản điện tử")
	.Resizable()
	.Width(650)
	.Height(400)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-VBDTDen">
			<div class="box">
				<header>
					<nav style="padding: 3px;">
						<button id="InChitietVBDTDenbtn" type="button" class="btn btn-sm btn-primary btn-flat ">
							<i class="glyphicon glyphicon-print"></i>&nbsp;In
						</button>
						<button id="BackViewDetailVBDTDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="fa fa-undo"></i>&nbsp;Quay lại</button>

					</nav>
				</header>
			</div>
			<div id="chitietvanbandientuden">

			</div>

		</div>
	</text>
	)
)

<script type="text/javascript">
	function CloseViewDetailVBDTDen() {
	    var window = $("#ViewDetailVBDTDen").data("kendoWindow");
		window.close();
	}
	function OpenViewDetailVBDTDen(idvanban) {
		LoadVanbanDTDen(idvanban);
		var window = $("#ViewDetailVBDTDen").data("kendoWindow");
		window.center();
		window.open();
	}
	function LoadVanbanDTDen(id) {
	    $('#chitietvanbandientuden').html(" ");
		var url = '@Url.Action("_XemChitietVanbanden","Vanbandendientu")';
		url = url + "?id=" + id;
		$('#chitietvanbandientuden').load(url);
	}
	$('#BackViewDetailVBDTDenbtn').click(function () {
	    CloseViewDetailVBDTDen();
	});

	$('#InChitietVBDTDenbtn').click(function () {
	    PrintElement('#chitietvanbandientuden');
	});	
</script>

