
@Scripts.Render("~/bundles/d3")

<div id="dashboard" style="margin:50px" class="row">
    <div id="histoGram" class="col-sm-6"></div>
    <div id="legen" class="col-sm-6"></div>
</div>

<script>

var xuly = [
{id:1,ten:'Hoang Van Thai',thongke:{luuhs:4786, daxuly:1319, dangxuly:249,trinhky:134,quahan:234}}
,{id:2,ten:'Le Hoang Son',thongke:{luuhs:786, daxuly:319, dangxuly:549,trinhky:234,quahan:134}}
,{id:3,ten:'Le Thanh Thao',thongke:{luuhs:2786, daxuly:319, dangxuly:449,trinhky:334,quahan:334}}
,{id:4,ten:'Nguyen Minh Hoang',thongke:{luuhs:1786, daxuly:519, dangxuly:749,trinhky:234,quahan:834}}
,{id:5,ten:'Nguyen Phong An',thongke:{luuhs:1786, daxuly:519, dangxuly:749,trinhky:234,quahan:834}}
,{id:6,ten:'Tran Van Thanh',thongke:{luuhs:1786, daxuly:519, dangxuly:749,trinhky:234,quahan:834}}
,{id:7,ten:'Ho Nguyen Hau',thongke:{luuhs:1786, daxuly:519, dangxuly:749,trinhky:234,quahan:834}}
];

dashboard('#histoGram', '#legen', xuly);
</script>