@model IEnumerable<QLVB.DTO.Tinhhinhxuly.ChartCommonViewModel>

@{
    string strBaocao = ViewBag.strBaocao;
}

<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("chart")
        .Title(strBaocao)
            //.Title(title => title
            //    .Text(strBaocao)
            //    .Position(ChartTitlePosition.Bottom))
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
            .Visible(true)
        )            
        .Series(series =>
        {
            series.Pie(
                model => model.strGiatri,
                model => model.strMota,
                model => model.strColor
            )

            .Labels(labels => labels
                .Template("#= category #: \n #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150).Padding(0);
        })
        .Tooltip(tooltip => tooltip
            .Template("${ category } - ${ value }%")
            .Visible(true)
            .Format("{0}%")
        )
    )
</div>

