<?xml version="1.0"?>
<appSettings>
  <add key="JsPlugInDLTD" value="http://192.168.2.114/dltd/Js/QlvbScripts?v=1"/>
  
  <!-- ============================== -->
  <!--  QUẢN LÝ VĂN BẢN               -->
  <!-- ============================== -->
  <add key="SiteName" value="HỆ THỐNG QUẢN LÝ VĂN BẢN VÀ ĐIỀU HÀNH" />
  <add key="DefaultKendoTheme" value="bootstrap" />
  <add key="SideBarLeft" value="sidebar-left-mini" />   <!--sidebar-left-mini/none"" -->
  <add key="FixHeaderBar" value="false" />  <!-- true/false -->
  <add key="Noidung" value="~/Noidung" />
  <add key="BackupDatabase" value="~/App_Data" />
  <add key="DisplayItemsPerPage" value="20" />
  <add key="DefaultSiteTheme" value="Metro" />
  <add key="TraloiVB" value="1-T-YYYY" />  <!--"T-1-YYYY"/"1-T-YYYY"-->
  <add key="QDTenVBAttach" value="T-1-YYYY" />  <!--"T-1-YYYY"/"1-T-YYYY"-->
  <add key="IsWorkflow" value="true"/>   <!-- true/false -->
  <add key="IsKetthucHosoVanban" value="false"/>  <!-- true/false : tùy chọn cho phép user có thể kết thúc xử lý vb -->
  
    <!-- Sổ văn bản đi  -->
  <add key="IsSoVBDi" value="false" />   <!-- true/false : sử dụng số đi của sổ vb đi theo nhiệm kỳ (vd 5 năm )-->
  <add key="NgayBDSoVBDi" value="01/01/2014" /> <!-- "01/01/2016" : thời gian bắt đầu số 1 của tất cả sổ đi theo nhiệm kỳ -->
   
  
   <!-- Văn bản điện tử -->
  <add key="EmailBTTTT" value="30/12/2016" />  <!--Ngay bat dau gui/nhan vbdt theo BTTTT-->
  <add key="LoaiVBDT" value="2803" />  <!-- 512/2803 -->
  <add key="MahoaFileBase64" value="true" />  <!-- true/false -->
  <add key="IsZipFile" value="true" />  <!-- true/false -->
  
  <add key="IsLogVBDTDen" value="true" />  <!-- true/false: ghi nhat ky toan bo vbdt den/di -->
  <add key="IsLogVBDTDi" value="true" />
  

  <add key="IsAutoReceiveMail" value="false" />  <!-- true/false -->
  <add key="IsAutoSendMail" value="false" />  <!-- true/false -->
  <add key="AutoEmailPerRequest" value="10" />  <!-- Số email tự động gửi/nhận 1 lần <30-->
  <add key="TimeAutoEmail" value="20" />  <!-- Thời gian tự động gửi/nhận mail : >20 (phút)-->
   
  
  <!-- Đính kèm file tự động -->
  <add key="AutoSynch" value="true" />   <!-- true/false -->
  <add key="UserSynch" value="admin" />
  <add key="PassSynch" value="123456" />

  <!-- System -->
  <add key="IsFullText" value="false" />  <!-- true/false -->
  <add key="LoaiVBDen" value="1" />  <!-- 0/1/2 -->
  <add key="Partition" value="true" />  <!-- true/false -->

  <!-- ====================================================== -->
  <!--  KẾT NỐI VỚI TRỤC LIÊN THÔNG CỦA CHÍNH PHỦ             -->
  <!-- ====================================================== -->
  <add key="IsEdxml" value="true"/>  <!-- true/false -->
  <add key="ServiceEdxml" value="https://ketnoiquocgia.tphcm.gov.vn/ihorae"/>
  <add key="MaEdxmlDiaphuong" value="H19"/>
  <add key="DiadanhDiaphuong" value="Đồng Nai"/>
  
  <!---UBND tinh Dong nai -->
  <add key="AccessKey" value="55def13c84ae293f0dc564ed"/>
  <add key="SecretKey" value="A1JLFZx/mLsjEClbpImRGpyu+NjaUxwH7YoszvFnnXyT"/>
  <add key="ApplicationName" value="QLVB"/>
  

  <!---UBND Thanh pho Bien hoa--> 
  <!--<add key="AccessKey" value="55def1a984ae293f0dc5685b"/>
  <add key="SecretKey" value="A4K0agD6RSa8U+V1vrZ63FZCJ3jPYOuChsdrp7YARmcs"/>        
  <add key="ApplicationName" value="QLVB"/>-->

  <!-- ============================== -->
  <!--  ASP.NET                       -->
  <!-- ============================== -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  
  <!-- Required by Microsoft ReportViewer control -->
  <add key="MvcReportViewer.AspxViewer" value="~/Report/MvcReportViewer.aspx" />
  <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
  <add key="MvcReportViewer.ErrorPage" value="~/Report/MvcReportViewerErrorPage.html" />
  <add key="MvcReportViewer.ShowErrorPage" value="True" />
  <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
  <add key="MvcReportViewer.Username" value="" />
  <add key="MvcReportViewer.Password" value="" />
  <add key="MvcReportViewer.EncryptParameters" value="False" />
  <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />


</appSettings>

