<?xml version="1.0"?>
<connectionStrings>
  <add name="QLVBDatabase"
       connectionString="Data Source=.\sqlexpress;User ID=sa;Password=123456;Initial Catalog=qlvb2;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
  <add name="Log_sqlserver"
       connectionString="Data Source=.\sqlexpress;User ID=sa;Password=123456;Initial Catalog=qlvb2;"
       providerName="System.Data.SqlClient"/>
  <add name="QLVBStoreDatabase"
       connectionString="Data Source=.\SQLEXPRESS;User ID=sa;Password=123456;Initial Catalog=qlvb2Store_trang;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
<add name="YKCDDatabase"
       connectionString="Data Source=.\SQLEXPRESS;User ID=sa;Password=123456;Initial Catalog=YKCD;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
