@model QLVB.DTO.Account.ListUserUyquyenViewModel
@{
	MultiSelectList AllUser = new MultiSelectList(Model.AllUser, "intid", "strhoten");
	MultiSelectList UyquyenUser = new MultiSelectList(Model.UyquyenUser, "intid", "strhoten");
}
@section header{
	<i class="glyphicon glyphicon-user">&nbsp;</i>Ủy quyền xử lý
}

<div class="box">
	<header>
		<nav style="padding: 3px;">
			<button id="SubmitMoveUserbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>            
		</nav>
	</header>
</div>

<div class="row">
	<div class="col-sm-4">
		
		<div class="form-group">
			@Html.ListBoxFor(m => m.AllUser, AllUser, new { id = "box1View", @class = "form-control ", size = "20" })
		</div>

	</div><!--/.col-sm-4 -->
	<div class="col-sm-2">
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
		<div class="text-center">
			<div class="btn-group-vertical">
				<button id="to2" type="button" class="btn btn-primary">
					<i class="glyphicon glyphicon-arrow-right"></i>
				</button>               
				<button id="to1" type="button" class="btn btn-danger">
					<i class=" glyphicon glyphicon-arrow-left"></i>
				</button>
			</div>
		</div>
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
	<div class="col-sm-4">        
		<div class="form-group">
			@Html.ListBoxFor(m => m.UyquyenUser, UyquyenUser, new { id = "box2View", @class = "form-control ", size = "20" })
		</div><!-- /.form-group -->
	</div>
</div>

<script type="text/javascript">
	$('#to2').click(function () {
		listbox_moveacrossLeftToRight('box1View', 'box2View');
	})
	$('#to1').click(function () {
		listbox_moveaRightToLeft('box2View', 'box1View');
	})

	var listiduser = '';
	function listbox_moveacrossLeftToRight(sourceID, destID) {
		var src = document.getElementById(sourceID);
		var dest = document.getElementById(destID);

		for (var count = 0; count < src.options.length; count++) {

			if (src.options[count].selected == true) {
				listiduser = listiduser + $(src).val() + ';';
				//console.log(listiduser);

				var option = src.options[count];

				var newOption = document.createElement("option");
				newOption.value = option.value;
				newOption.text = option.text;
				//newOption.selected = true;
				try {
					dest.add(newOption, null); //Standard
					src.remove(count, null);
				} catch (error) {
					dest.add(newOption); // IE only
					src.remove(count);
				}
				count--;
			}

		}
		if (src.options.length > 0) {
			//src.options[0].selected = true;
		}

	}
	function listbox_moveaRightToLeft(sourceID, destID) {
		var src = document.getElementById(sourceID);
		var dest = document.getElementById(destID);

		for (var count = 0; count < src.options.length; count++) {

			if (src.options[count].selected == true) {
				var option = src.options[count];

				var newOption = document.createElement("option");
				newOption.value = option.value;
				newOption.text = option.text;
				//newOption.selected = true;
				try {
					dest.add(newOption, null); //Standard
					src.remove(count, null);
				} catch (error) {
					dest.add(newOption); // IE only
					src.remove(count);
				}
				count--;
			}

		}
		if (src.options.length > 0) {
			//src.options[0].selected = true;
		}

	}
	
	$('#SubmitMoveUserbtn').click(function () {
		var strAddIdUser = GetIdUyquyen();
		var url = '@Url.Action("_SaveUyQuyen", "Account")';
		$.ajax(
			{
				type: "POST",
				url: url,
				data: { strAddIdUser: strAddIdUser },
				success: function (data) {
					if (data == 1) {
						SetThongbao("Ủy quyền thành công")
					} else {
						SetThongbao(data);
					}
				}
			});
	})
	function GetIdUyquyen() {
		var listid = "";
		$('#box2View>option').each(function () {
			listid = listid + $(this).val() + ';';
		});        
		return listid;
	}

</script>



