@using QLVB.DTO
<div class="box ">
    <header>
        <nav style="padding: 3px;">
            <button id="Addbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
            <button id="Editbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
            <button id="Deletebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>

        </nav>
    </header>
</div>
@(Html.Kendo().Grid<QLVB.Domain.Entities.Tinhchatvanban>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(o => o.intid).Hidden();
        columns.Bound(o => o.strkyhieu).Title("Ký hiệu").Width("15%");
        columns.Bound(o => o.strtentinhchatvb).Title("Tên tính chất văn bản").Width("50%");
        columns.Bound(o => o.strmota).Title("Mô tả").Width("30%");
    })
    .HtmlAttributes(new { style = "white-space: normal" })
    .Scrollable()
    .Sortable()
    .Selectable()
    .Pageable(pageable => pageable
        .Refresh(true)
        //.PageSizes(true)
        .ButtonCount(5)
        .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
            .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
            .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
        .Read(read => read.Action("Detailvb_Read", "Tinhchatvb", new { intloai = (int)ViewBag.intloai }))
        )
    .Events(events => events.Change("onChange"))
)
<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeight();
    });
    $(document).ready(function () {
        SetGridHeight();
    })
    function CloseEditLoaivb() {
        var window = $("#EditLoaivb").data("kendoWindow");
        window.close();
    }
    function OpenEditLoaivb() {
        var window = $("#EditLoaivb").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#Addbtn").bind("click", function () {        
        var idloai = GetIdLoaivb();
        var url = '@Url.Action("_formEdit", "Tinhchatvb")';
        url = url + '?id=0&idloai=' + idloai;
        $('#detail-editLoaivb').load(url);
        OpenEditLoaivb();
    });
    $("#Editbtn").bind("click", function () {
        var id = GetIdTinhchat();
        if (id != 0) {
            var url = '@Url.Action("_formEdit", "Tinhchatvb", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editLoaivb').load(url);
            OpenEditLoaivb();
        } else {
            SetThongbao("Bạn chưa chọn loại tính chất");
        }
    });
    $("#Deletebtn").bind("click", function () {
        var id = GetIdTinhchat();
        if (id != 0) {
            var url = '@Url.Action("_formDelete", "Tinhchatvb", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editLoaivb').load(url);
            OpenEditLoaivb();
        } else {
            SetThongbao("Bạn chưa chọn loại tính chất");
        }
    });
</script>



