@model QLVB.DTO.Menu.MenuViewModels
@{
    string sactive = "";
    bool isclickMenu = ViewBag.isclickMenu;
    string strMenuType= ViewBag.strMenuType;
}
<div id="left">   
    <!-- #menu -->
    <ul id="menu">    
        <li class="nav-divider"></li>
        @foreach (var p in Model.RootMenu)
        {
            if (p.ParentId == null)
            {
                if (p.Id == Model.ActiveMenu) 
                {
                    if ((isclickMenu) && (strMenuType == "sidebar-left-mini"))
                    {
                        sactive = "";
                    }
                    else
                    {
                        sactive = "active";
                    }   
                }
                else
                {
                    sactive = "";
                }
                <li id="m_@p.Id" class=@sactive>
                    <a href="javascript:;">
                        <i class="@p.stricon"></i>
                        <span class="link-title">@p.strmota</span>                       
                    </a>
                    <ul id="s_@p.Id">
                        @foreach (var m in Model.SubMenu)
                        {
                            if (p.Id == m.ParentId)
                            {
                                if (m.blopenwindow == 1)
                                {
                                    <li class="">
                                        <a href=@Url.Action(m.straction,m.strcontroller) target="_blank">
                                          &nbsp;@m.strmota
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="">
                                        <a href=@Url.Action(m.straction,m.strcontroller)>
                                            &nbsp;@m.strmota
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }

        }
    </ul><!-- /#menu -->
</div><!-- /#left -->

@if ((isclickMenu)&&(strMenuType=="sidebar-left-mini"))
{
    <style type="text/css">
        .showsubmenu {
            display: inherit !important;
            visibility: visible !important;
        }
        .showmenutitle {
            display: block !important;
            min-width: 200px !important;
        }
    </style>
    <script type="text/javascript">
        $('#menu').on("click", function (e) {
            e.stopPropagation();

            $('#menu > li > a > .link-title').removeClass("showmenutitle");
            $('#menu > li.active > a > .link-title').addClass("showmenutitle");

            $('#menu > li > ul').removeClass("showsubmenu");
            $('#menu > li.active > ul').addClass("showsubmenu");
            //$('#' + active).addClass("showsubmenu");

            //$('#m_5').addClass("showmenutitle");
            //$('#s_5').addClass("showsubmenu");
        })
        $('html').on('click', function (e) {
            if (!$(event.target).closest('#menu').length) {
                $('#menu > li > ul').removeClass("showsubmenu");
                $('#menu > li > a > .link-title').removeClass("showmenutitle");
            }
        });
    </script>    
}
else
{
    <style type="text/css">
        @@media (min-width: 768px) {
            .sidebar-left-mini #menu > li:hover > a > .link-title {
                display: block;
                min-width: 200px;
            }
            .sidebar-left-mini #menu:not(.affix) li:hover > ul {
                display: inherit;
                visibility: visible;
            }
        }
    </style>
}
