
<div class="box ">
	<header>
		<nav class="box-toolbar">            
			<button id="Searchbtn" class="btn btn-success btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm
			</button>            
			<button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
			</button>

		</nav>
	</header>
</div>
<script type="text/javascript">
	$('#Searchbtn').click(function () {
		OpenSearchVBDen();
	})
	
	$('#PrintListVBbtn').click(function () {
		var url = '@Url.Action("Export", "TracuuVanbanden")';
		window.location = url;
	})
	
</script>

