@using Microsoft.Reporting.WebForms
@using MvcReportViewer
@model DLTD.Web.Main.ViewModels.BaoCaoTinhHinhXuLyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Báo cáo tình hình xử lý</title>
</head>
<body>
<div>
    @(Html.MvcReportViewerFluent("Reports/TongHopTinhHinhXuLy.rdlc")
        .ProcessingMode(ProcessingMode.Local)
        .LocalDataSource("TongHopTinhHinhXulyData", Model.Data)
        .ReportParameters(new { NgayBaoCao = Model.NgayBaoCao, DieuKienTimKiem = Model.DieuKienTimKiem, BaoCaoTheo = Model.BaoCaoTheo })
        .Attributes(new { Height = "600", Width = "100%", style = "border: 1px" })
        .Method(FormMethod.Get)
    )
</div>
</body>
</html>
