
<div class="box " id="tbar">
	<header>
		<nav style="padding: 3px;">
			<button id="SaveYkienNhanhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			<button id="BackYkienNhanhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
			<span id="ketquaYkienNhanh" class="validation-summary-valid"></span>
		</nav>
	</header>
</div>
<div class="row">
	<div id="txtykien" class="col-sm-11">
		<form class="form-horizontal" id="formAddYkien">			
			@Html.TextArea("strykienxuly", new { @class = "form-control form-control-window", rows = 15 })
		</form>
	</div>	
</div>


<script type="text/javascript">

	$('#SaveYkienNhanhbtn').click(function () {
		var idhoso = '@ViewBag.idhoso';
		var strykien = $('#strykienxuly').val();
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SaveYkien", "Hoso")',
			data: { 'idhoso': idhoso, 'strykien': strykien },
			success: function (idykien) {
				if (idykien == 0) {
					SetThongbao("Lỗi!!!");
				}
				else {
				    ShowResult("ketquaYkienNhanh", "Cập nhật thành công");
				    RefreshGrid();
				}
			},
			dataType: "Json"
		});
	});	
	$('#BackYkienNhanhbtn').click(function () {		
		CloseYkienxulyNhanh();
	});

</script>

