
@{
    ViewBag.Title = "ErrorHoso";
}

<div class="box " id="tbar">
    <header>
        <nav style="padding: 3px;">
            <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>

        </nav>
    </header>
</div>
<h2>@ViewBag.message</h2>

<script type="text/javascript">
    $('#Backbtn').click(function () {
        var url = '@Url.Action("Index", "Vanbanden", new { isBack = true })';
        $().redirect(url);
    });
</script>
