@(Html.Kendo().Window()
	.Name("DeleteHSCV")
	.Draggable()
	.AutoFocus(true)
	.Title("Xóa Hồ sơ")
	.Resizable()
	.Width(500)
	.HtmlAttributes(new { style = "height:100%;" })
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		
			<div  class="modal-body">
				Bạn có muốn xóa Hồ sơ <strong><span id="detail-DeleteHSCV"></span></strong> không?
			</div>
			<div class="modal-footer">
				<button id="SubmitDeleteHSCVbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
				<button id="BackDeleteHSCVbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
			</div>
		
	</text>
	)
)
<script type="text/javascript">
	$("#BackDeleteHSCVbtn").bind("click", function () {
		CloseDeleteHSCV();
	})
	$('#SubmitDeleteHSCVbtn').click(function () {
	    var idhoso = GetIdHoso();
		$.ajax({
			type: "POST",
			url: '@Url.Action("DeleteHoso", "Hoso")',
			data: { id: idhoso },
			success: function (data) {
				if (data == 1) {
					RefreshGrid();
					CloseDeleteHSCV();
				}
				else {
					CloseDeleteHSCV();
					SetThongbao("Lỗi, không xóa được");
				}
			},
		});
	})
	function CloseDeleteHSCV() {
		var window = $("#DeleteHSCV").data("kendoWindow");
		window.close();
	}
	function OpenDeleteHSCV() {
	    var strtieude = GetTieude();
	    $('#detail-DeleteHSCV').html(strtieude);
		var window = $("#DeleteHSCV").data("kendoWindow");
		window.center();
		window.open();
	}
</script>
