@(Html.Kendo().Window()
	.Name("FormCapquyenxemVBDi")
	.Draggable()
	.AutoFocus(true)
	.Modal(true)
	.Title("Cấp quyền xem văn bản")
		//.Resizable()
	.Width(450)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>

		<div id="chitietcapquyenxemVBDi">

		</div>

	</text>
	)
)

<script type="text/javascript">
	function CloseViewCapquyenxemVBDi() {
		var window = $("#FormCapquyenxemVBDi").data("kendoWindow");
		window.close();
	}
	function OpenViewCapquyenxemVBDi(idvanban) {
		LoadCapquyenxemVBDi(idvanban);
		var window = $("#FormCapquyenxemVBDi").data("kendoWindow");
		window.center();
		window.open();
	}
	function LoadCapquyenxemVBDi(idvanban) {
		var url = '@Url.Action("_ListUserCapquyenxem", "Vanbandi")';
		url = url + "?idvanban=" + idvanban;
		$('#chitietcapquyenxemVBDi').load(url);
	}

</script>

