
@{
	ViewBag.Title = "EdXml";
}

@section header{
	<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi văn bản EDXML
}

<div class="box">
	<header>
		<nav style="padding: 3px;">
			<button id="GetDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
				<i class="glyphicon glyphicon-envelope"></i>&nbsp;DS đơn vị
			</button>
			<button id="SendDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
				<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi Email
			</button>
			<button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
			<button id="SendDonviAgainbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
				<i class="glyphicon glyphicon-refresh"></i>&nbsp;Gửi Email lần nữa
			</button>
		</nav>
	</header>
	<span id="ketquaSendvb" class="validation-summary-valid"></span>
</div>
<div id="DSdonvi"></div>

<script type="text/javascript">
	$(document).ready(function () {
		//SetClientHeight();
	});
	function SetClientHeight() {
		var contentHeight = $('#content').innerHeight();
		var headerHeight = $('#head').innerHeight();
		var tbar = $('#tbar').innerHeight();
		var windowHeight = $(window).height();
		var contentWidth = $('#content').innerWidth();
		if (contentWidth > 768) {
			if (contentHeight > 800) { contentHeight = 800; }
			$('#sendEmail').height(contentHeight - headerHeight - tbar - 320);
		};
	}

	$('#Backbtn').click(function () {
		var url = '@Url.Action("Index", "Vanbandi", new { isBack = true })';
		$().redirect(url);
	});
	$('#SendDonviAgainbtn').click(function () {
		$("input[type='checkbox']").prop('checked', false);
		$("input[type='checkbox']").removeAttr('disabled');
	});
	$('#parentcheckbox').click(function () {
		var ischeck = $(this).prop('checked');
		$("#listdonvi").find(':checkbox').each(function () {
			var disable = $(this).prop('disabled');
			if (disable == false) {
				$(this).prop('checked', ischeck);
			}
		})
		//$("input[type='checkbox']").prop('checked', $(this).prop('checked'));
	});
	$('#SendDonvibtn').click(function () {
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SendDonvi", "Vanbandi")',
			data: $("#formSendDonvi").serialize(),
			beforeSend: function () {
				ShowLoading();
			},
			success: function (data) {
				HideLoading();
				//SetThongbao(data);
				if (data.id == 1) {
					ShowResult("ketquaSendvb",  data.message);
				}
				else {
					ShowResult("ketquaSendvb", "Lỗi !!! " + data.message);
				}
			},
			dataType: "Json"
		});
	});
	$('#GetDonvibtn').click(function () {        
		var url = '@Url.Action("_GetDonviEdxml","Vanbandi")';
		//url = url + "?id=" + id;
		$('#DSdonvi').load(url);
	});
</script>
