@model  IEnumerable< QLVB.Domain.Entities.PhanloaiVanban>

<table class="table responsive-table">    
    <tr>
        <th style="width: 10%; text-align: center">
            <b>&nbsp;Chọn</b>
        </th>
        <th style="width: 85%; text-align: left">
            <b>Loại văn bản</b>
        </th>
    </tr>  
   
    @foreach (var p in Model)
    {
        <tr>
            <td style="width: 10%; text-align: center">
                @*@Html.CheckBox(p.intid.ToString(), false, new { onclick = "changeCheck(" + @p.intid + ")", id = p.intid, @class = "clsChon" })*@
                @Html.CheckBox(p.intid.ToString(), false, new { id = p.intid, value = p.intid, @class = "clsChon" })
            </td>
            <td style="width: 85%">
                @Html.Label(p.strtenvanban, new { @class = "font-label" })
            </td>
        </tr>
    }
    
    
</table>