@using QLVB.DTO
@{
    ViewBag.Title = "_AjaxUser";
}
<div class="box">
    <header>
        <nav style="padding: 5px;">
            @Html.Label("Danh sách các cán bộ")
        </nav>
    </header>
</div>

@(Html.Kendo().Grid<QLVB.DTO.Hethong.UserViewModel>()
        .Name("gridUser")
        .Columns(columns =>
        {            
            columns.Bound(c => c.strkyhieu).Title("Ký hiệu").Width("10%");
            columns.Bound(c => c.strhoten).Title("Họ tên");            
            columns.Bound(c => c.strchucvu).Title("Chức vụ");
        })
        .HtmlAttributes(new { style = "white-space: normal" })
        .Scrollable()
        .Sortable()
        .Selectable(m => m.Enabled(false))
        .Pageable(pageable => pageable
            .Refresh(true)
            //.PageSizes(true)
            .ButtonCount(5)
            .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
                .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
                .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
            )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
            .Read(read => read.Action("User_Read", "Hethong", new { idgroup = ViewBag.idgroup }))
            )

)
<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeightNext();
    });
    $(document).ready(function () {
        SetGridHeightNext();
    })
    function SetGridHeightNext() {
        var gridElement = $("#grid");
        var heightNext = gridElement.children(".k-grid-content").innerHeight();

        var gridNext = $("#gridUser");
        gridNext.children(".k-grid-content").height(heightNext);
    }
    function RefreshGridNext() {
        $("#gridUser").data("kendoGrid").dataSource.read();
        $("#gridUser").data("kendoGrid").refresh();
    }
</script>