@model QLVB.DTO.Hethong.EditGroupViewModel
<div class="modal-body">
    Bạn có muốn xóa nhóm quyền @Model.strtennhomquyen không?
</div>        
<div class="modal-footer">
    <button id="SubmitDeleteGroupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
    <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
</div>

<script type="text/javascript">
    $("#Backbtn").bind("click", function () {
        CloseEditGroup();
    })
    $('#SubmitDeleteGroupbtn').click(function(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteGroup", "Hethong")',
            dataType: "json",
            data: { idgroup:'@Model.intid' } ,
            success: function (data) {
                if (data == 1) {                    
                    RefreshGrid();
                    CloseEditGroup()
                }
                else {                    
                    CloseEditGroup();
                    SetThongbao("Lỗi, không xóa được");
                }
            },
        });
    })
</script>
