@model QLVB.DTO.Tinhchatvb.EditTinhchatViewModel


<div class="modal-body">
    Bạn có muốn xóa  @Model.strtentinhchatvb không?
</div>
<div class="modal-footer">
    <button id="SubmitDeletebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
    <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
</div>

<script type="text/javascript">
    $("#Backbtn").bind("click", function () {
        CloseEditLoaivb();
    })
    $('#SubmitDeletebtn').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Tinhchatvb")',
            dataType: "json",
            data: {id:'@Model.intid', strten:'@Model.strtentinhchatvb'},
            success: function (data) {
                if (data == 1) {
                    CloseEditLoaivb();
                    RefreshGrid();
                }
                else {
                    SetThongbao("Lỗi, không xóa được");
                }
            },
        });
    })
</script>
