@using QLVB.DTO
<div class="box ">
    <header>
        <nav class="box-toolbar">
            <button id="Addbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title="Thêm mới loại văn bản"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
            <button id="Editbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
            <button id="Deletebtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>

        </nav>
    </header>
</div>
@(Html.Kendo().Grid<QLVB.Domain.Entities.PhanloaiVanban>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.intid).Hidden();
        columns.Bound(c => c.strtenvanban).Title("Loại văn bản đi");
    })
    .HtmlAttributes(new { style = "white-space: normal" })
    .Scrollable()
    .Sortable()
    .Selectable()
    .Pageable(pageable => pageable
        .Refresh(true)
        //.PageSizes(true)
        .ButtonCount(5)
        .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
            .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
            .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
        .Read(read => read.Action("Loaivb_Read", "Loaivbdi"))
        )
    .Events(events => events.Change("onChange"))
)


