@model QLVB.DTO.Linhvuc.DeleteLinhvucViewModel

<div class="modal-body">
    Bạn có muốn xóa lĩnh vực @Model.strtenlinhvuc không?
</div>
<div class="modal-footer">
    <button id="SubmitDeleteLinhvucbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
    <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
</div>

<script type="text/javascript">
    $("#Backbtn").bind("click", function () {
        CloseEditLinhvuc();
    })
    $('#SubmitDeleteLinhvucbtn').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Linhvuc")',
            dataType: "json",
            data: { id:'@Model.intid' } ,
            success: function (data) {
                if (data == 1) {
                    RefreshGrid();
                    CloseEditLinhvuc();
                }
                else {
                    CloseEditLinhvuc();
                    SetThongbao("Lỗi, không xóa được");
                }
            },
        });
    })
</script>
