<?xml version="1.0"?>
<appSettings>
  <add key="IsUseDLTD" value="false"/>    <!-- true/false -->
  <add key="JsPlugInDLTD" value="http://192.168.2.114/dltd/Js/QlvbScripts?v=1&amp;desc="/>
  <!-- ============================================================ -->
  <!--  QUẢN LÝ VĂN BẢN                                             -->
  <!-- ============================================================ -->
  <add key="SiteName" value="HỆ THỐNG QUẢN LÝ VĂN BẢN VÀ ĐIỀU HÀNH" />
  <add key="DefaultKendoTheme" value="bootstrap" />
  <add key="SideBarLeft" value="sidebar-left-mini" />   <!--sidebar-left-mini/none"" -->
  <add key="FixHeaderBar" value="false" />  <!-- true/false -->
  <add key="Noidung" value="~/Noidung" />
  <add key="BackupDatabase" value="~/App_Data" />
  <add key="DisplayItemsPerPage" value="20" />
  <add key="DefaultSiteTheme" value="Metro" />
  <add key="TraloiVB" value="1-T-YYYY" />  <!--"T-1-YYYY"/"1-T-YYYY"-->
  <add key="QDTenVBAttach" value="T-1-YYYY" />  <!--"T-1-YYYY"/"1-T-YYYY"-->
  <add key="IsWorkflow" value="true"/>   <!-- true/false -->
  <add key="IsKetthucHosoVanban" value="false"/>  <!-- true/false : tùy chọn cho phép user có thể kết thúc xử lý vb khi PhanXLVB -->
  <add key="NamTraCuuVanban" value="2007 - 2013"/>
  
    <!-- Sổ văn bản đi  -->
  <add key="IsSoVBDi" value="false" />   <!-- true/false : sử dụng số đi của sổ vb đi theo nhiệm kỳ (vd 5 năm )-->
  <add key="NgayBDSoVBDi" value="01/01/2014" /> <!-- "01/01/2016" : thời gian bắt đầu số 1 của tất cả sổ đi theo nhiệm kỳ -->
   
  
   <!-- Văn bản điện tử -->
  <add key="EmailBTTTT" value="30/12/2018" />  <!--Ngay bat dau gui/nhan vbdt theo BTTTT-->
  <add key="LoaiVBDT" value="2803" />  <!-- 512/2803 -->
  <add key="MahoaFileBase64" value="true" />  <!-- true/false -->
  <add key="IsZipFile" value="true" />  <!-- true/false -->
  
  <add key="IsLogVBDTDen" value="true" />  <!-- true/false: ghi nhat ky toan bo vbdt den/di -->
  <add key="IsLogVBDTDi" value="true" />


  <add key="IsAutoReceiveTructinh" value="false"/>
  <add key="IsAutoSendTructinh" value="false" />
  <add key="IsAutoReceiveMail" value="false" />  <!-- true/false -->
  <add key="IsAutoSendMail" value="false" />  <!-- true/false -->
  <add key="AutoEmailPerRequest" value="10" />  <!-- Số email tự động gửi/nhận 1 lần <30-->
  <add key="TimeAutoEmail" value="40" />  <!-- Thời gian tự động gửi/nhận mail : >20 (phút)-->
  <add key="TimeAutoReceiveStatus" value="1" />  <!-- Thời gian tự động nhận trạng thái văn bản trên trục tỉnh : >20 (phút)-->
   
  
  <!-- Đính kèm file tự động -->
  <add key="AutoSynch" value="true" />   <!-- true/false -->
  <add key="UserSynch" value="admin" />
  <add key="PassSynch" value="123456" />

  <!-- System -->
  <add key="IsFullText" value="false" />  <!-- true/false -->
  <add key="LoaiVBDen" value="1" />  <!-- 0/1/2 -->
  <add key="Partition" value="false" />  <!-- true/false -->
  
  <!-- danh sách user không được quyền login -->
  <add key="UserDeny" value="Vanphong" />  <!-- ""/abc,def,xyz-->

  <!-- ====================================================== -->
  <!--  KẾT NỐI VỚI TRỤC LIÊN THÔNG CỦA CHÍNH PHỦ             -->
  <!-- ====================================================== -->
  <add key="IsEdxml" value="true"/>  <!-- true/false -->
  <add key="ServiceEdxml" value="https://lienthong.chinhphu.vn/ihorae"/>
  <add key="MaEdxmlDiaphuong" value="H19"/>
  <add key="DiadanhDiaphuong" value="Đồng Nai"/>

  <!---UBND tinh Dong nai -->
  <add key="AccessKey" value="570b8a9fe4b039566c807d09"/>
  <add key="SecretKey" value="A37yLxis7sUXsu7JzC2fueh5bqOpFnUe1Jpa4RiqDVka"/>
  <add key="ApplicationName" value="ubnddongnai"/>

 
  <!-- ====================================================== -->
  <!--  SỬ DỤNG LDAP, AD                                      -->
  <!-- ====================================================== -->  
  <add key="IsLDAP" value="false"/>  <!-- true/false -->
  
  <!---LDAP Config -->
  <add key="ldapServerName" value="192.168.2.200"/>
  <add key="ldapServerPort" value="389"/>
  <add key="ldapUser" value="qlvb"/>
  <add key="ldapPass" value="p@ssw0rd"/>
  <add key="ldapDC" value="DC=vpubtdn,DC=org"/>
  <add key="ldapCN" value="CN=Users"/>

  <!-- ====================================================== -->
  <!--  SỬ DỤNG CA                                      -->
  <!-- ====================================================== -->
  <add key="IsCA" value="false"/>  <!-- true/false -->

  <!-- ============================== -->
  <!--  ASP.NET                       -->
  <!-- ============================== -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  
  <!-- Required by Microsoft ReportViewer control -->
  <add key="MvcReportViewer.AspxViewer" value="~/Report/MvcReportViewer.aspx" />
  <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
  <add key="MvcReportViewer.ErrorPage" value="~/Report/MvcReportViewerErrorPage.html" />
  <add key="MvcReportViewer.ShowErrorPage" value="True" />
  <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
  <add key="MvcReportViewer.Username" value="" />
  <add key="MvcReportViewer.Password" value="" />
  <add key="MvcReportViewer.EncryptParameters" value="False" />
  <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />

</appSettings>

