<?xml version="1.0"?>
<connectionStrings>
  <add name="QLVBDatabase"
       connectionString="Data Source=.\SQLEXPRESS;User ID=sa;Password=123456;Initial Catalog=qlvb2;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
  <add name="Log_sqlserver"
       connectionString="Data Source=.\SQLEXPRESS;User ID=sa;Password=123456;Initial Catalog=qlvb2;"
       providerName="System.Data.SqlClient"/>
  <add name="QLVBStoreDatabase"
       connectionString="Data Source=.\SQLEXPRESS;User ID=sa;Password=123456;Initial Catalog=qlvb2_store;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
<add name="YKCDDatabase"
       connectionString="Data Source=NGOCHUNG_PC;User ID=sa;Password=123456;Initial Catalog=YKCD;Persist Security Info=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
  <add name="CheckCAConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestDLL;User = sa; password =123456" providerName="System.Data.SqlClient"/>
</connectionStrings>
