@model QLVB.DTO.Vanbanden.DetailVBDenViewModel

@(Html.Kendo().Window()
    .Name("ViewDetailVBDen")
    .Draggable()
    .AutoFocus(true)
    .Title("Thông tin văn bản")
    .Resizable()
    .Width(650)
    .Height(490)
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-VBDen">
            <div class="box">
                <header>
                    <nav style="padding: 3px;">
                        <button id="InChitietVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat ">
                            <i class="glyphicon glyphicon-print"></i>&nbsp;In
                        </button>
                        <button id="BackViewDetailVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>

                    </nav>
                </header>
            </div>
            <div id="chitietvanbanden">

            </div>

        </div>
    </text>
	)
)

<script type="text/javascript">
	function CloseViewDetailVBDen() {
		var window = $("#ViewDetailVBDen").data("kendoWindow");
		window.close();
	}
	function OpenViewDetailVBDen(idvanban) {
		LoadVanbanDen(idvanban);
		var window = $("#ViewDetailVBDen").data("kendoWindow");
		window.center();
		window.open();
	}
	function LoadVanbanDen(id) {
		$('#chitietvanbanden').html(" ");
		var url = '@Url.Action("_XemChitietVanban","TracuuVanbanden")';
		url = url + "?id=" + id;
		$('#chitietvanbanden').load(url);
	}
	$('#BackViewDetailVBDenbtn').click(function () {
		CloseViewDetailVBDen();
	})

	$('#InChitietVBDenbtn').click(function () {
		PrintElement('#chitietvanbanden');
	})

	function OpenDetailHoso(id) {
		OpenViewDetailHoso(id);
		CloseViewDetailVBDen();
	}
	function OpenVBPhathanh(idvanbandi) {
		CloseViewDetailVBDen();
		OpenViewDetailVBDi(idvanbandi);
	}

	
</script>

