@model DLTD.Web.Main.ViewModels.TinhHinhThucHienViewModel
<table class="table table-condensed table-bordered responsive-table" style="border:none">
    <tbody>
        <tr>
            <td colspan="4" class="title-header">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </td>
        </tr>       
        <tr>
            <th class="table-col-4">Đơn vị xử lý chính</th>
            <td class="table-col-4">@Model.</td>
        </tr>
        <tr>
            <th class="table-col-4">Nội dung xử lý:</th>
            <td class="table-col-4" colspan="3">@Model.YKienChiDao</td>
        </tr>
        <tr>
            <th class="table-col-4">File đính kèm</th>
            <td class="table-col-4" colspan="3"></td>
        </tr>
        <tr>
            <th class="table-col-4">Thời gian</th>
            <td class="table-col-4" colspan="3"></td>
        </tr>
        <tr>
            <th class="table-col-4">Đơn vị xử lý chính</th>
            <td class="table-col-4">@Model.</td>
        </tr>
        <tr>
            <th class="table-col-4">Nội dung xử lý:</th>
            <td class="table-col-4" colspan="3">@Model.</td>
        </tr>
        <tr>
            <th class="table-col-4">File đính kèm</th>
            <td class="table-col-4" colspan="3"></td>
        </tr>
        <tr>
            <th class="table-col-4">Thời gian</th>
            <td class="table-col-4" colspan="3"></td>
        </tr>
    </tbody>
</table>
