@{	
	Layout = "~/Views/Shared/_Layout_null.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<title>@QLVB.Common.Utilities.AppSettings.SiteName</title>


	<script type="text/javascript">

		$(function () {
			setInterval(Login, 2000);
		});

		function Login() {
			window.location = '@Url.Action("Logoff","Account")';

		};
	</script>
</head>
<body>
	<div>
		<h2>PHIÊN LÀM VIỆC CỦA BẠN ĐÃ KẾT THÚC, VUI LÒNG ĐĂNG NHẬP LẠI</h2>
</div>
</body>
</html>
